# Unwanted editor cache
.vscode/**
**/__pycache__/**

# No temporary files
*.o
*.spec
*tmp*

# No docker cache
*.bash_history

# No environements allowed
.env

# No modules allowed
node_modules/**

# The files to ignore for the liskvork project
board.log
config.ini
!bonus/example/config/config.ini

# No unwanted cache
**/.cache/**

# No unwanted environements
**/.env/**
**/env/**
**/lenv/**
**/menv/**
**/wenv/**
**/server_env/**
**/wserver_env/**
**/python_env/**
**/doc/**
**/.cache/**
