# Unwanted editor cache
.vscode/**

# No temporary files
*tmp*
*.o

# No docker cache
*.bash_history

# No environements allowed
.env

# Ignore created binaries
pbrain-gomoku-ai

# No modules allowed
node_modules/**

# The files to ignore for the liskvork project
board.log
config.ini
!bonus/example/config/config.ini

# No unwanted cache
**/.cache/**

# No unwanted environements
**/.env/**
**/env/**
**/lenv/**
**/menv/**
**/wenv/**
**/server_env/**
**/wserver_env/**
**/doc/**
**/.cache/**
